
<%= form_for(@movie) do |f| %>
<p>
<%= f.label :title %>:
<%= f.text_field :title %><br />
</p>
<p>
 <%= f.label :rating %>:
  <%= f.text_field :rating%><br />
</p>
<p>
 <%= f.label :total_gross %>:
  <%= f.number_field :total_gross %><br />
</p>
<p>
 <%= f.label :release %>:
  <%= f.datetime_select :release %><br />
</p>
<p>
 <%= f.label :descrption %>:
  <%= f.text_area :descrption %><br />
</p>
<p>
 <%= f.submit %>
</p>



<% end %>
