<h1><%= @movie.title %></h1>

<h3>Rating</h3>
<p><%= @movie.rating %></p>

<h3>Description</h3>
<p><%= @movie.descrption %></p>

<h3>Seid wann</h3>
<p><%= @movie.release %></p>

<h3>Wo zu finden?</h3>
<p><%= @movie.website %></p>

<h3>Einnahmen</h3>
<p><%= @movie.total_gross %></p>

<p><%= link_to "Back", movies_path %></p>