<h3>Für den Event: <%= @event.name %> registrieren</h3>
<%= render "shared/errors", obj_errors: @registrations %>	
<%= form_for([@event, @registrations]) do |f| %>

<div class="row">
	<div class="medium-2 columns"><%= f.label :name%></div>
	<div class="medium-10 columns"><%= f.text_field :name %></div>
</div>
<div class="row">
	<div class="medium-2 columns"><%= f.label :email %></div>
	<div class="medium-10 columns"><%= f.text_field :email%></div>
</div>
<div class="row">
	<div class="medium-2 columns"><%= f.label :heard_from %></div>
	<div class="medium-10 columns"><%= f.select :how_heard, Registration::HOW_HEARD_OPTIONS, prompt: "Bitte auswählen" %></div>
</div>
<div class="row">
	<%= f.submit %>
</div>
<% end %>