
<%= form_for(@event) do |f| %>
<p>
<%= f.label :name %>:
<%= f.text_field :name %>
</p>
<p>
 <%= f.label :location %>:
  <%= f.text_field :location%><br />
</p>
<p>
 <%= f.label :price %>:
  <%= f.number_field :price %><br />
</p>
<p>
 <%= f.label :start_at %>:
  <%= f.datetime_select :start_at %><br />
</p>
<p>
 <%= f.label :descrption %>:
  <%= f.text_area :descrption %><br />
</p>
<p>
 <%= f.submit %>
</p>



<% end %>