<h1>Events</h1>
<p>Zeige folgende <%= @events.size %></p>
<h2><%="listing generates at: #{Time.now} "%> </h2>
<p>
	<ul>
	<% @events.each do |event| %>
		<li> <%= event%> </li>
	<% end %>
	</ul>
</p>

<%="<h3>juhu</h3>".html_safe %>


<table width="100%">
	<tr>
		<th>Name</th>
		<th>Ort</th>
		<th>Preis</th>
		<th>Wann</th>
		<th>Beschreibng</th>
	</tr>	
	<% @events.each do |event| %>
	<tr>
		<td><%= event.name %></td>
		<td><%= event.location %></td>
		<td><%= format_price(event) %></td>
		<td><%= event.start_at %></td>
		<td><%= truncate(event.descrption, lenght: 25, seperator: '') %></td>
	</tr>
	<% end %>
</table>