<h1>Movies</h1>
<h2><%="listing generates at: #{Time.now} "%> </h2>

<table>
	<tr>
		<th>Title</th>
		<th>Rating</th>
		<th>Total Gross?</th>
		<th>Startet ab:</th>
		<th>Beschreibung</th>
	</tr>	
	<% @movies.each do |movie| %>
	<tr>
		<td><%= movie.title %></td>
		<td><%= movie.rating %></td>
		<td><%= movie.total_gross %></td>
		<td><%= movie.start_at %></td>
		<td><%= movie.description %></td>
	</tr>
	<% end %>
</table>

